<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
{{template config_path="design/email/header_template"}}

<h1>{{trans "New FAQ"}}</h1>
<p>{{var customer_name}} {{trans "submitted a new question for product"}} <a href="{{var product_url}}">{{var product_name}}.</a></p>

<h4>{{trans "Question: "}}</h4>
<p>{{var question}}</p>

<h6>{{var store.getFrontendName()}}</h6>
{{template config_path="design/email/footer_template"}}
