<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="create_productFaq">
        <observer name="createProductFaqObserver" instance="Inchoo\ProductFaqNotifications\Observer\CreateProductFaqObserver"/>
    </event>
</config>
